<div mat-dialog-title>Employee Form</div>

<form [formGroup]="empForm" (ngSubmit)="onEmpForm()">
<div mat-dialog-content class="content">
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput type="text" placeholder="Ex.Tom"  formControlName="firstName"/>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput type="text" placeholder="Ex.Alex" formControlName="lastName" />
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="tom@gmail.com" formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="outline" formControlName="dob">
      <mat-label>DOB</mat-label>
      <input matInput [matDatepicker]="picker" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-radio-group aria-label="Select " formControlName="gender">
      <mat-label><b>Gender</b></mat-label>
      <mat-radio-button value="1">Male</mat-radio-button>
      <mat-radio-button value="2">Female</mat-radio-button>
      <mat-radio-button value="3">Other</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="row">
    <mat-form-field formControlName="education">
      <mat-label>Select your Highest Degree</mat-label>
      <mat-select>
        <mat-option *ngFor="let edu of education" [value]="edu"
          >{{ edu }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Company</mat-label>
      <input matInput type="text" placeholder="Ex.META" formControlName="company"/>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field>
      <mat-label>Current CTC</mat-label>
      <input matInput type="text" placeholder="Ex.10LPA" formControlName="salary"/>
      <mat-hint>In Rupees</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Experience</mat-label>
      <input matInput type="text" placeholder="3.5" formControlName="experience" />
    </mat-form-field>
  </div>

  <div mat-dialog-actions  class="action">
  <button mat-raised-button color="warn">Cancel</button>
  <button mat-raised-button color="primary" type="submit">Save</button>
</div>
</div>

</form>
